.Secondgrid{
   background-image: url("https://images4.alphacoders.com/135/1354755.png");
   object-fit: contain;
}
.Headings1{
    color: white;
}
.Para1{
    color: white;
}
.Thirdgrid{
    align-items: center;
    /* margin-left: 100px; */
    text-align: center;
}
.Mastermind1{
    color: orange;
}
.Textfields{
    color: aliceblue;
    font-size: 2%;
}
.Account{
    color: teal;
    font-size: 18px;
    margin-bottom: 2%;
    margin-top: 13%;
}

.Maingrid{
    display: flex;
    /* background-color: rgb(193, 146, 57); */
}
.Innergrid{
    /* align-items: center; */
    height: 100%;
}
.Getstarted{
    /* width:85%; */
    /* margin-top: 5%;
    margin-bottom: 10%; */
  
}
.Getstarted1{
    width:33%;
    margin-top: 2%;
    margin-bottom: 9%;
    background-color: orange !important;
    /* color: orange; */
}
.textfields1{
    /* width: 20%; */
}